ion-title {
    padding-top: 75px;
    padding-bottom: 25px;
}

ion-input {
    border-bottom: white solid;
    margin-bottom: 25px;
}

ion-select {
    border-bottom: white solid;
    margin-bottom: 25px;
}

ion-button {
    padding-bottom: 25px;
}